<div class="product-detail">
  <div class="row">
    <div class="col-sm-6">
      <div class="d-flex justify-content-center">
        <div>
          <img src="https://static.wixstatic.com/media/98f738_8b3f1a1e77e9492fa991395bc326863f~mv2.png/v1/fill/w_400,h_400,al_c,q_85,usm_0.66_1.00_0.01/98f738_8b3f1a1e77e9492fa991395bc326863f~mv2.webp"
               class="product-detail-image">
          <div>Beschreibung wlkdklnkldnas nlandnlasdnlndlasndlnsldnalsndlasndlk</div>
        </div>
      </div>

    </div>
    <div class="col-sm-6">
      <h2>Test Product Title</h2>
      <p>Hallo Welt</p>
      <p>Hallo Welt</p>
      <p>Hallo Welt</p>
      <p>Hallo Welt</p>
    </div>
  </div>

  <div class="product-info">
    <h3>Product informations</h3>
  </div>
</div>

